<div class="row">
  <div class="col-md-9">
    <form
      *ngIf="info == null"
      (ngSubmit)="onSubmit()"
      [formGroup]="articleForm"
    >
      <div class="form-container">
        <mat-form-field>
          <input
            type="text"
            placeholder="kategori seç"
            formControlName="category"
            matInput
            [matAutocomplete]="auto"
          />
          <mat-error *ngIf="getControls.category.invalid">
            {{
              myvalidationService.GetValidationMessages(
                getControls.category,
                "kategori"
              )
            }}
          </mat-error>

          <mat-autocomplete
            [displayWith]="displayCategoryName"
            #auto="matAutocomplete"
          >
            <mat-option *ngFor="let item of categories" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="title" matInput placeHolder="makale ismi" />
          <mat-error *ngIf="getControls.title.invalid">
            {{
              myvalidationService.GetValidationMessages(
                getControls.title,
                "makale ismi"
              )
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            formControlName="contentSummary"
            matInput
            placeHolder="makale içerik özet"
          />
          <mat-error *ngIf="getControls.contentSummary.invalid">
            {{
              myvalidationService.GetValidationMessages(
                getControls.contentSummary,
                "makale özet"
              )
            }}
          </mat-error>
        </mat-form-field>
        <div style="border: 1px solid black" class="mb-2">
          <ckeditor
            (ready)="onReady($event)"
            formControlName="contentMain"
            [editor]="Editor"
          ></ckeditor>
        </div>
        <button [disabled]="loading" mat-raised-button color="primary">
          Makale ekle
          <i
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></i>
        </button>
      </div>
    </form>

    <div role="alert" *ngIf="info != null" class="alert alert-danger mt-3">
      {{ info }}
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-white bg-primary ">
      <div class="card-header">Makale resim</div>

      <div class="card-body">
        <img
          [src]="picture || 'assets/article_empty.jpg'"
          class="img-thumbnail"
        />
      </div>
      <div class="card-footer">
        <input
          (change)="upload($event)"
          type="file"
          class="form-control"
          name="image"
        />
      </div>
    </div>
  </div>
</div>
