<app-page-title [title]="'Hakkımda'"></app-page-title>
<p>
  2008 yılından itibaren yazılımla ilgilenmekteyim. 5 yıldır aktif olarak Net
  teknolojileri üzerine projeler geliştirmekteyim. Şuanda ikinci üniversitemi
  yönetim bilişim sistemleri üzerine okumaktayım. Yazılımla ilgili öğrendiğim
  beceriler kişisel sitemde mümkün olduğunca paylaşmaya çalışıyorum. Yazılımla
  ilgili her konuyu merak ediyor ve  bilgi sahibi olmaya çalışıyorum. Sıkı bir
  medium okuyucusuyum. Daha çok üzerinde durduğum teknolojiler;Asp net core,Asp
  net mvc, Web api, Azure, Angular,Docker, DevOps gibi konulardır. Son
  zamanlarda android uygulamalar geliştirmekteyim. Evliyim ve Ankarada
  yaşamaktayım.
</p>
